/* SeznamList.css */

.main-heading {
    color: #121212;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    }
#seznam{
    border-style:solid;
    width: 225px;
    border-radius: 5px;
    border-color: #00000023;
    border-width: 2px;
    margin: 5px;
}